/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap'); */
@import "tailwindcss";

/* ---------- GOOGLE FONTS ---------- */

/* ---------- ROOT VARIABLES ---------- */

:root{
  --bg:#060B16;
  --surface:#0E1628;

  --primary:#FF6B00;
  --primary-hover:#FF8A3D;

  --text:#F8FAFC;
  --text-secondary:#94A3B8;
}

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  background:var(--bg);
  color:var(--text);
  overflow-x:hidden;
}

::selection{
  background:#FF6B00;
  color:white;
}
h1,h2,h3,h4,h5{

    font-family:'Space Grotesk',sans-serif;

}

a{

    text-decoration:none;
    color:inherit;

}

button{

    cursor:pointer;

}